@model LMS.Domain.Entities.ViewModels.User.ForgotPasswordViewModel
@{
    Layout = null;
    int ErrorCode = 200;
    var Message = "";
    if (ViewData["Response"] != null)
    {
        var res = (LMS.Domain.Entities.Domain.BaseResponseModel)ViewData["Response"];
        if (res != null)
        {
            ErrorCode = res.ErrorCode;
            Message = res.Message;
        }
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LMS | Forgot Password</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/lib/notiflix/notiflix.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="/Home/ForgotPassword" class="h1"><b>Forgot Password</b></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Forgot password to reset password</p>
                <form id="ForgotPassword" class="mb-3" asp-action="ForgotPassword" asp-controller="Home" method="post" asp-antiforgery="true">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <input asp-for="Email" type="text" class="form-control" placeholder="Enter Email" />
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>
                            <label id="Email-error" class="error" for="Email"></label>
                            <span asp-validation-for="Email"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <button type="submit" id="btnForgotPassword" class="btn btn-primary btn-block">Forgot Password</button>
                        </div>
                    </div>
                </form>
                <p class="text-center">
                    <span>Back to login</span>
                    <a href="/Home/Index">
                        <span>Login</span>
                    </a>
                </p>
            </div>

            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- jquery-validation -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/lib/notiflix/notiflix.js"></script>
    <script src="~/js/inotiflixalert.js"></script>
    <script>
        $(document).ready(function () {
            if ("@ErrorCode" != "" && "@Message" != "") {
                ShowAlert("@Message", "@ErrorCode");
            }
            $("#ForgotPassword").validate({
                rules: {
                    Email: {
                        required: true
                    },
                },
                messages: {
                    Email: {
                        required: "Email is required."
                    },
                }
            });
            $("#btnForgotPassword").on("click", function (e) {
                e.preventDefault();
                if ($("#ForgotPassword").valid()) {
                    $("#ForgotPassword").submit();
                }
            });
        });
    </script>
</body>
</html>
